body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}
.bg {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
}
header {
  /* padding: 5px; */
  background-color: #665f55;
  color: #f3eee5;
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left {
  display: inline;
}
.right {
  display: inline;
  margin-right: 3%;
}

.right i,
.left i {
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 0px 5px;
  color: #bbbbbb;
}
.right i:hover {
  color: white;
  cursor: pointer;
}
.list {
  display: inline;
  list-style: none;
  padding: 2px;
}
.top-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgb(247, 244, 237);
}
.box {
  display: inline-block;
  padding: 15px 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  color: #725e47;
}
.l {
  list-style: none;
  text-align: center;
  letter-spacing: 2px;
}
.first {
  font-size: 23px;
}
.second {
  font-size: 15px;
  line-height: 34px;
  color: #bec28d;
}
#home,
.box:hover {
  border-top: 4px solid #383129;
  padding: 11px 35px;
  color: #383129;
  cursor: pointer;
}
.pic {
  align-items: center;
  animation: pulse 5s 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.image {
  width: 90%;
}
.stickyheader {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.pic-box {
  position: absolute;
  display: flex;
  color: white;
  opacity: 0;
  transition: all 0.4s ease;
}
.pic:hover .pic-box {
  opacity: 1;
  transform: scale(1.1);
}
.image:hover {
  /* transform: scale(1.1);  */
  cursor: pointer;
}
.search {
  padding: 20px 16px;
  background-color: #808d2b;
}
.search:hover {
  background-color: #808d2b;
  cursor: pointer;
  color: white;
}
.sfirst {
  border-right: 1px solid white;
}
.top-bar,
.logo,
.arrow-logo,
.pic,
.text {
  margin: 0px;
  display: flex;
  justify-content: center;
}
.logo {
  background-color: rgb(247, 244, 237);
  width: 100%;
}
.logo {
  padding: 50px 0px;
}
.arrow-logo {
  padding: 0px 0px 35px 0px;
}
.logo-img {
  height: 60px;
  width: 110px;
}
.content {
  position: relative;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.content h1,
.text h1 {
  width: 80%;
  font-size: 50px;
  line-height: 40px;
  color: #725e47;
  text-align: center;
}
.firstLine {
  color: #808d2b;
  font-weight: 580;
  margin: 0px;
}
.secondLine {
  margin: 5px;
  font-weight: 400;
}
.container {
  padding: 30px;
}
.likes {
  display: flex;
  justify-content: center;
}
.likes i {
  color: #808d2b;
}
.likes i:hover {
  cursor: pointer;
  font-weight: 900;
}
.likes span {
  color: #555a60;
}
.text h1 {
  color: #808d2b;
}
.text p {
  width: 75%;
  font-size: 18px;
  line-height: 28px;
  color: #555a60;
  text-align: center;
}
.bottom-bar {
  position: relative;
  width: 100%;
  margin: 0px;
}
.end-pic {
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 19%;
  z-index: -1;
}
.end-car {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.end-content {
  position: relative;
  z-index: 2;
  padding-top: 10%;
  font-size: 16px;
  color: #7d7974;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section {
  width: 20%;
}
.latest {
  width: 24%;
}
.about-sec {
  width: 21%;
}
.section h3 {
  color: #808d2b;
  font-size: 17pt;
}
.date-sec {
  display: flex;
}
.circle {
  height: 7px;
  width: 7px;
  margin: 5px 10px 0px 10px;
  border-radius: 20px;
  border: 4px solid #808d2b;
}
.date-circle {
  list-style: none;
}
.comment a,
.comment a i {
  text-decoration: none;
  color: #7d7974;
}
.comment a:hover,
.links li a:hover,
.tags a:hover {
  color: #706c67;
  text-decoration: underline;
}

.date {
  font-size: 14px;
  padding: 5px;
  margin-left: 7%;
  line-height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
}
.comment {
  margin-left: 15%;
}
.links {
  list-style: square;
  color: #808d2b;
}

.links li {
  padding: 5px 0px;
}
.links li a , .footer-top li a{
  color: #7d7974;
  text-decoration: none;
}
.about {
  font-size: 18px;
  color: #41474b;
}
.tag-sec {
  margin-bottom: 100px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: last baseline;
}
.tags a {
  padding: 2px;
  color: #7d7974;
  text-decoration: none;
  line-height: 17px;
}
.tags-link {
  font-size: 8pt;
}
.bigtags {
  font-size: 22pt;
}

footer {
  background-color: #665f55;
  color: #7d7974;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
  width: 100%;
  position: static;
  bottom: 0;
  clear: both;
}
.footer-top,
.footer-bottom {
  display: flex;
  margin: 7px;
  justify-content: center;
}
.footer-bottom i {
  padding: 0px 8px;
  color: #6f6f7b;
}
.footer-top li,
.footerlink{
  color: #6f6f7b;
  text-decoration: none;
}
